<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Produtos</title>
	<link rel="stylesheet" th:href="@{/css/common.css}">
	
</head>
<body>
<h1>Produto</h1>

	<form method="post" th:action="@{/produto/salvar}">
		<p>
			<label>Código: </label>
			<span th:unless="${produto.isNew()}" th:text="${produto.id}"></span>
			<input type="hidden" name="id" th:unless="${produto.isNew()}" th:value="${produto.id}">
		</p>
		
		<p>
			<label for="descricao">Descrição: </label>
			<input type="text" name="descricao" id="descricao" th:value="${produto.descricao}" required>
			<span th:if="erroDescricao" class="error" th:text="${erroDescricao}"></span>
		</p>

		<p>
			<label for="preco">Preço: </label>
			<input type="number" name="preco" id="preco" th:value="${produto.preco}" step="0.10" min="0" required>
			<span th:if="${erroPreco}" class="error" th:text="${erroPreco}"></span>
		</p>
		
		<button type="submit">Enviar</button>
	</form>

</body>
</html>




